.container {
  display: flex;
  flex: 1;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 90%;
  max-width: 480px;
}

@font-face {
  font-family: Blockletter;
  src: url("Blockletter.otf");
}

.text {
  font-family: Blockletter;
}

.message {
  font-size: 1.5rem;
  color: #bbb;
  margin: 0;
  padding-top: 0.5rem;
}

a {
  font-size: 1.75rem;
  padding-top: 2rem;
}
